:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  background-color: floralwhite;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.modal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalbox {
  padding: 25px;
  text-align: center;
  background-color: brown;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.modal_btn {
  width: 100px;
  padding: 8px;
  color: #ffffff;
  font-size: 15px;
  background-color: #4D5AE5;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 500ms ease-in-out;
}

.modal_btn:hover {
  background-color: #2f39a8;
  transform: scale(1.05);
}

.modal_btn.modalok_btn {
  margin-right: 15px;
}

.sl-image {
  padding: 2px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.sl-caption {
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  position: absolute;
  width: 643px;
  height: 363px;
  z-index: 1000;
  background-color: rgba(102, 134, 157, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
}

.message-box.active {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.message-text {
  transform: translate(0, 50px);
  font-size: 36px;
  color: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}